#cms_list_title{
	  font-size:18px;
}
#cms_list_caption{
	  font-size:12px;
}

#cms_footer  {
     color: #555555;
     font-size:12px;
}
#cms_button_submit{

}
#cms_body_div {
    background:#FFFFFF;
    box-shadow: 0px 0px 20px #000000;
}
#cms_flink   {
     color: white;
     text-decoration:none;
}
#cms_commencms_form_email{
     width: 200px;
}
#cms_commencms_form_message{
     width: 500px;
}
p  {
     margin-left:20px;
}
h1, h2,h3, h4, h5, h6 {
     color: #333333;
}
#cms_builder_post_title {
     color: #333333;
     font-weight: bold;
     font-size: 18px;
}
#cms_builder_post_text {
     margin-left:20px;
     margin-top: 10px;
}

#cms_builder_comment_title {
     color: #333333;
     font-weight: bold;
     font-size: 15px;
     margin-left: -20px;
}
#cms_builder_comment_text {
     font-size: 15px;
     margin-left: 55px;
}
body  {
     color: #111111;
     background: #888888;
     font-family: 'Courier New';
     margin-left:9%;
     margin-right:9%;
     margin-top:0px;
     margin-bottom:0px;
}
table {
     border: 0;
}
a:link   {
    color: #777777;
}
a:visited{
    color: #555555;
}
a:hover{
    color: #999999;
}
img    {
    border:0;
}
input  {
    color: #555555;
    font-size: 14;
    font-family: 'Courier New';
}
hr     {
    width: 90%;
}